* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* références couleurs */

  --primary-color: #ffbb33;
  --secondary-color: blue;
  --white-color: #e5e2e2;
  --dark-color: #0d0c0c;
  --red-color: #8b0000;
  --first-grey: #464646;
  --first-green: #05650c;

  /* font */
  --primary-font: "Cinzel Decorative", sans-serif;
  --primary-font-weight-regular: 400;
  /*font-paragraphe*/

  --primary-font-weight-bold: 700;
  /*font button jouer*/

  --secondary-font: "Vast Shadow", cursive;
  /* font-title  */
  --thirty-font: "raleway", sans-serif;
  /*font-paragraphe*/
}

body {
  background-color: var(--primary-color);
  /* overflow: hidden; */
  background: url(../assets/images/plane.png) no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: top;
}

.TitleHome,
.Links {
  color: #0d0c0c;
  text-align: center;
  list-style: none;
}
.TitleHome > h1 {
  font-size: 3rem;
  color: var(--dark-color);
  padding-top: 1rem;
}

.LinksContainer {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
  height: 60vh;
  display: flex;
  justify-content: center;
}
.Links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: var(--primary-font);
}

a {
  color: #0d0c0c;
  text-decoration: none;
}

.Play {
  font-size: 4.5rem;
  font-weight: bold;
  display: block;
  margin-top: 4rem;
}

.LinksHome {
  font-size: 2.5rem;
}

ul > .Option > li {
  margin-top: 4rem;
}
