.question {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question > img {
  width: 90%;
}

.question > p {
  background-color: var(--white-color);
  padding: 1rem;
  width: 90%;
  border-radius: 0.5rem;
  font-family: var(--thirty-font);
  font-size: 1rem;
  margin-top: 0.5rem;
  border: solid 1px var(--dark-color);
}

.chapitre > p {
  font-family: var(--primary-font);
  margin-left: 1rem;
  opacity: 0.8;
  color: var(--dark-color);
}
